@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

:root {
  --base: rgb(0, 0, 0);
  --blue: #206be3;
}

* {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: var(--base);
}

li {
  list-style: none;
}

#app {
  width: 100%;
}

.preloader {
  z-index: 10;
}

.landing-text {
  font-size: 1rem;
}

.img-border {
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  -moz-border-image: url() 5 5 5 5 repeat repeat;
  -webkit-border-image: url() 5 5 5 5 repeat repeat;
  -o-border-image: url() 5 5 5 5 repeat repeat;
  border-image: url() 5 5 5 5 repeat repeat;
}

/*carousel*/
.img-carousel,
.carousel {
  width: 80%;
  height: 40rem;
  margin: auto;
  max-width: 80rem;
}

.img-carousel {
  width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  overflow-x: hidden;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(155, 153, 153);
  border-radius: 10px;
}

/*BACKGROUND*/
#parent {
  overflow: hidden;
  z-index: -1;
}

#particles-js {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../asset/bg-landing.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

#title {
  max-width: 40%;
  height: 100px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Ms Madi", cursive;
}

.particles-js-canvas-el {
  min-height: 100vh;
}

.tracking-in-contract-bck-bottom {
  -webkit-animation: tracking-in-contract-bck-bottom 1s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract-bck-bottom 1s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
/*END-BACKGROUND*/

/*NAVBAR*/

#navbar {
  padding: 0.5rem;
  background-color: #fff;
}

#logo {
  display: flex;
  align-items: center;
}

#logo h3 {
  margin: 0;
}

#navbar-container {
  max-width: 80rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

#navbar-items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  gap: 10%;
  margin-right: 30px;
}

#navbar-items li a {
  font-size: 1.5rem;
  line-height: 2;
}

#title-navbar {
  font-family: "Ms Madi", cursive;
}

/*END-NAVBAR*/

/*MAIN-CONTENT*/

/*ABOUT-US*/
#photo-1 {
  background-image: url("../asset/bawean-island.jpg");
  background-position: center;
  background-size: cover;
  backdrop-filter: opacity(0.8);
  width: 100%;
  height: 100%;
}
/*END-ABOUT-US*/

#main {
  width: 100%;
  max-width: 80rem;
  margin-top: 20px;
  margin: 20px auto;
  padding: 20px;
}

/*Hotel*/
#bg-hotel {
  z-index: -1;
  opacity: 0.5;
  overflow: hidden;
  right: 0;
}

.content {
  height: 700px;
}

.kenburns-top {
  animation: kenburns-top 5s ease-out infinite both;
  -webkit-animation: kenburns-top 5s ease-out infinite both;
}

/*END-MAIN-CONTENT*/

/*MEDIA QUERY */

@media only screen and (max-width: 900px) {
  .img-carousel,
  .carousel {
    height: auto;
  }
}
@media only screen and (max-width: 576px) {
  #navbar-items {
    display: none;
  }
}

/*END MEDIA QUERY */

@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}
@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}

@-webkit-keyframes tracking-in-contract-bck-bottom {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(300px);
    transform: translateZ(400px) translateY(300px);
    opacity: 0;
    -moz-transform: translateZ(400px) translateY(300px);
    -ms-transform: translateZ(400px) translateY(300px);
    -o-transform: translateZ(400px) translateY(300px);
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck-bottom {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(300px);
    transform: translateZ(400px) translateY(300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes svg-text-anim {
  40% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  60% {
    stroke-dashoffset: 0;
    fill: #ffffff;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #ffffff;
  }
}
/* Most browsers */
@keyframes svg-text-anim {
  40% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  60% {
    stroke-dashoffset: 0;
    fill: #ffffff;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #ffffff;
  }
}
