@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap");

:root {
  --base: rgb(0, 0, 0);
}

* {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--base);
}

li {
  list-style: none;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(155, 153, 153);
  border-radius: 10px;
}

/*BACKGROUND*/
#parent {
  z-index: -1;
  overflow: hidden;
}

#particles-js {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../asset/bawean-photo-1.jpg");
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vw;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#title {
  max-width: 50%;
  height: 100px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Ms Madi", cursive;
}

.particles-js-canvas-el {
  min-height: 100vh;
  min-width: 100vh;
}

.tracking-in-contract-bck-bottom {
  -webkit-animation: tracking-in-contract-bck-bottom 1s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract-bck-bottom 1s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
/*END-BACKGROUND*/

/*NAVBAR*/
#title-navbar {
  font-family: "Ms Madi", cursive;
}

/*END-NAVBAR*/

/*MAIN-CONTENT*/

/*ABOUT-US*/
#photo-1 {
  background-image: url('../asset/bawean-island.jpg');
  background-position: center;
  background-size: cover;
  backdrop-filter: opacity(0.8);
  width: 100%;
  height: 100%;
}
/*END-ABOUT-US*/

#main {
  max-width: 1280px;
}

.content {
  height: 700px;
}

.kenburns-top {
  -webkit-animation: kenburns-top 5s ease-out infinite both;
  animation: kenburns-top 5s ease-out infinite both;
}

/*END-MAIN-CONTENT*/

@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}
@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}

@-webkit-keyframes tracking-in-contract-bck-bottom {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(300px);
    transform: translateZ(400px) translateY(300px);
    opacity: 0;
    -moz-transform: translateZ(400px) translateY(300px);
    -ms-transform: translateZ(400px) translateY(300px);
    -o-transform: translateZ(400px) translateY(300px);
}
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck-bottom {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(300px);
    transform: translateZ(400px) translateY(300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
