.path-0{
  animation:pathAnim-0 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-0{
  0%{
    d: path("M 0,600 C 0,600 0,200 0,200 C 100.02870813397132,208.1818181818182 200.05741626794264,216.36363636363635 287,224 C 373.94258373205736,231.63636363636365 447.7990430622009,238.72727272727272 546,226 C 644.2009569377991,213.27272727272728 766.7464114832535,180.72727272727275 884,187 C 1001.2535885167465,193.27272727272725 1113.2153110047846,238.36363636363635 1205,247 C 1296.7846889952154,255.63636363636365 1368.3923444976076,227.8181818181818 1440,200 C 1440,200 1440,600 1440,600 Z");
  }
  25%{
    d: path("M 0,600 C 0,600 0,200 0,200 C 82.45933014354068,176.1531100478469 164.91866028708137,152.3062200956938 261,154 C 357.08133971291863,155.6937799043062 466.7846889952152,182.92822966507177 568,180 C 669.2153110047848,177.07177033492823 761.9425837320576,143.98086124401914 870,135 C 978.0574162679424,126.01913875598085 1101.444976076555,141.14832535885165 1199,156 C 1296.555023923445,170.85167464114835 1368.2775119617227,185.42583732057417 1440,200 C 1440,200 1440,600 1440,600 Z");
  }
  50%{
    d: path("M 0,600 C 0,600 0,200 0,200 C 74.03827751196172,230.44019138755982 148.07655502392345,260.88038277511964 243,243 C 337.92344497607655,225.1196172248804 453.73205741626793,158.91866028708134 566,162 C 678.2679425837321,165.08133971291866 786.9952153110048,237.444976076555 874,246 C 961.0047846889952,254.555023923445 1026.287081339713,199.30143540669857 1117,181 C 1207.712918660287,162.69856459330143 1323.8564593301435,181.3492822966507 1440,200 C 1440,200 1440,600 1440,600 Z");
  }
  75%{
    d: path("M 0,600 C 0,600 0,200 0,200 C 113.64593301435409,171.36842105263156 227.29186602870817,142.73684210526315 336,142 C 444.70813397129183,141.26315789473685 548.4784688995215,168.42105263157893 618,191 C 687.5215311004785,213.57894736842107 722.7942583732057,231.57894736842104 811,222 C 899.2057416267943,212.42105263157896 1040.3444976076557,175.26315789473685 1154,167 C 1267.6555023923443,158.73684210526315 1353.8277511961721,179.36842105263156 1440,200 C 1440,200 1440,600 1440,600 Z");
  }
  100%{
    d: path("M 0,600 C 0,600 0,200 0,200 C 100.02870813397132,208.1818181818182 200.05741626794264,216.36363636363635 287,224 C 373.94258373205736,231.63636363636365 447.7990430622009,238.72727272727272 546,226 C 644.2009569377991,213.27272727272728 766.7464114832535,180.72727272727275 884,187 C 1001.2535885167465,193.27272727272725 1113.2153110047846,238.36363636363635 1205,247 C 1296.7846889952154,255.63636363636365 1368.3923444976076,227.8181818181818 1440,200 C 1440,200 1440,600 1440,600 Z");
  }
}

.path-1{
  animation:pathAnim-1 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-1{
  0%{
    d: path("M 0,600 C 0,600 0,400 0,400 C 97.49282296650719,403.24401913875596 194.98564593301438,406.4880382775119 301,427 C 407.0143540669856,447.5119617224881 521.5502392344497,485.2918660287081 627,462 C 732.4497607655503,438.7081339712919 828.8133971291867,354.3444976076555 916,331 C 1003.1866028708133,307.6555023923445 1081.1961722488038,345.33014354066984 1167,367 C 1252.8038277511962,388.66985645933016 1346.401913875598,394.3349282296651 1440,400 C 1440,400 1440,600 1440,600 Z");
  }
  25%{
    d: path("M 0,600 C 0,600 0,400 0,400 C 74.06698564593302,363.1578947368421 148.13397129186603,326.31578947368416 253,338 C 357.86602870813397,349.68421052631584 493.53110047846883,409.8947368421053 609,405 C 724.4688995215312,400.1052631578947 819.7416267942583,330.1052631578947 913,333 C 1006.2583732057417,335.8947368421053 1097.5023923444976,411.6842105263158 1185,435 C 1272.4976076555024,458.3157894736842 1356.248803827751,429.1578947368421 1440,400 C 1440,400 1440,600 1440,600 Z");
  }
  50%{
    d: path("M 0,600 C 0,600 0,400 0,400 C 120.63157894736838,411.67464114832535 241.26315789473676,423.34928229665076 323,412 C 404.73684210526324,400.65071770334924 447.57894736842115,366.2775119617225 547,379 C 646.4210526315788,391.7224880382775 802.4210526315788,451.5406698564594 907,463 C 1011.5789473684212,474.4593301435406 1064.7368421052631,437.5598086124402 1145,419 C 1225.2631578947369,400.4401913875598 1332.6315789473683,400.2200956937799 1440,400 C 1440,400 1440,600 1440,600 Z");
  }
  75%{
    d: path("M 0,600 C 0,600 0,400 0,400 C 123.54066985645932,407.37799043062205 247.08133971291863,414.75598086124404 323,409 C 398.91866028708137,403.24401913875596 427.2153110047848,384.3540669856459 527,390 C 626.7846889952152,395.6459330143541 798.0574162679425,425.8277511961723 915,432 C 1031.9425837320575,438.1722488038277 1094.555023923445,420.3349282296651 1173,411 C 1251.444976076555,401.6650717703349 1345.7224880382773,400.83253588516743 1440,400 C 1440,400 1440,600 1440,600 Z");
  }
  100%{
    d: path("M 0,600 C 0,600 0,400 0,400 C 97.49282296650719,403.24401913875596 194.98564593301438,406.4880382775119 301,427 C 407.0143540669856,447.5119617224881 521.5502392344497,485.2918660287081 627,462 C 732.4497607655503,438.7081339712919 828.8133971291867,354.3444976076555 916,331 C 1003.1866028708133,307.6555023923445 1081.1961722488038,345.33014354066984 1167,367 C 1252.8038277511962,388.66985645933016 1346.401913875598,394.3349282296651 1440,400 C 1440,400 1440,600 1440,600 Z");
  }
}